.main-header {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo-section {
  width: 150px;
  height: 50px;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #007bff;
}

.logo-icon {
  width: 180px;
  height: 35px;
  padding:10px 0;
  font-size: 1.8rem;
  margin-right: 8px;
}

/* Nav links */
.nav-section {
  display: flex;
  gap: 20px;
}

.nav-section a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-section a:hover {
  color: #007bff;
}

/* Right side */
.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Emergency button */
.emergency-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s ease;
}

.emergency-btn:hover {
  background-color: #d62828;
}

/* Profile icon */
.profile-icon {
  font-size: 1.8rem;
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s;
}

.profile-icon:hover {
  color: #0056b3;
}

/* Login link */
.login-link {
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

.logout-icon{
  padding: 0px 8px 15px 8px;
}
.profile-icon{
  padding: 10px ;
}